.breadcrumb {
    padding: 8px 0;
    margin-bottom: 16px;
}

/*******************************
* Breadcrumb Nav Styling
****************************************************************/

.breadcrumb-container {
    background-color: #fcfcfc;
}

// .breadcrumb {
//     border-radius: 0px;
//     margin: 0 auto;
//     max-width: $global-max-width;
//     > li + li::before {
//         color: #ccc;
//         content: " ";
//         padding: 0;
//     }
// }
