.collection-cta {
    padding-top: $global-margin-top;
    padding-bottom: $global-margin-bottom;
    > h1 {
        text-align: center;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 36px;

    }
    .btn-block {
        max-width: 320px;
        margin: 0 auto;
    }
}
