/* FSCF form styling
----------------------------------------------------
*/
.fscf-div-form {
    .fscf-required-indicator, .fscf-required-text {
        color: red;
        font-size: 12px;
    }
    .fscf-required-indicator {
        margin-left: 5px;
    }
    .fscf-div-submit {
        margin-top: 45px;
        margin-bottom: 45px;
    }
}
