.excerpt {
    font-weight: 600;
}

.navbar-default {
    //background-color: pink !important;
}

/* Global
----------------------------------------------------
*/
.page-header.collection-header {
    margin-bottom: 0;
}


.white {
    padding-bottom: 6rem;
    padding-top: 6rem;
}


.entry-content .slickr-flickr-gallery li {
    margin-bottom: 1%;
    margin-right: 1%;
}
.entry-content .slickr-flickr-gallery img.hover {
    background-color:  #d3d3d3;
}

.entry-content .slickr-flickr-gallery { padding:0;}

body #lightGallery-action a {
    font-size: 26px;
    height: 32px;
    left: auto;
    line-height: 26px;
    margin: 0 15px 0 0 !important;
    width: 32px;
}
body #lightGallery-action a#lightGallery-prev::before, body #lightGallery-action a#lightGallery-next::after {
    bottom: 3px;
    left: 2px;
    position: absolute;
    right: 2px;
}
body #lightGallery-action a.cLthumb::after {
    bottom: 3px;
    font-size: 26px;
    left: 3px;
}
.install h2 {
    border-bottom: 2px solid $global-border-color;
    padding-bottom: 17px;
}
.navbar-collapse, .navbar-header, .jumbo-caption, .aga-row, .footer-widget-area {
    margin: 0 auto;
    max-width: $global-max-width;
}

.modal-dialog.modal-lg {
    max-width: 680px;
    width: 100%;
}

/***************************************************
* Font Awesome Styling
***************************************************/

.fa {
    .fa-angle-double-right {
        margin-left: 3px;
    }
}

.pdf-icon {
    height: auto;
    width: 16px;
}

/***************************************************
* WP ADMIN Styling
**************************************************/

.entry-meta {
    .fa.fa-pencil-square-o {
        margin: 0 5px 0 0;
    }
}

.aga-features .wp-post-image {
    margin: 0 auto;
}

.clearfix {
    clear: both;
}


/***************************************************
* Content Area
****************************************************/

.XXX {
    top: 0;
    font-size: 10px;
}

.entry-content {
    a {
        color: #337ab7;
        font-weight: 700;
        &:hover {
            color: #23527c;
            text-decoration: underline;
        }
    }
    a.btn {
        color: #fff;
        :hover {
            text-decoration: none;
        }
    }
}

.post-edit-link {
    color: #337ab7;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
    &:hover {
        color: #23527c;
        text-decoration: underline;
    }
}

.overview .aga-box h3, .overview .aga-box h4 {
    height: inherit;
}







.white {
    padding-bottom: $global-margin-bottom;
    padding-top: $global-margin-top;
}

.news-list {
    padding-top: $global-margin-bottom;
}
.news-list {
    padding-bottom: $global-margin-bottom;
    padding-top: $global-margin-top;
}
.news-list-last {
    padding-top: 0;
    padding-bottom: $global-margin-bottom;
}

.grey {
    background-color:#f0f0f0;// #f5f4ef;
    padding-bottom: $global-margin-bottom;
    padding-top: $global-margin-bottom;
}

.content-area {
    > h2, h1 {
        margin: 0 0 2%;
        //text-align: center;
    }
}

.hardware .aga-box,
.collections .aga-box {
    margin-bottom: 4%;
}

.home .collections .aga-box:nth-child(3n+1){
    //clear:both;
    //background-color: pink;
}

.archive {
    .single-featured {
        left: 0;
        position: relative;
        top: 0;
        z-index: 1;
    }
}
.main-content-area {
    background-color: #ffffff; //$global-ag-color-1;
}

.page-template-dealer-tools-page {
    .aga-content {
        margin-bottom: 5rem;
    }
}
.page-header {
    border-bottom: $global-border-size solid $global-border-color;
    margin: 0 0 45px;
    padding: 0;
    h1 {
        margin-top: 0;
    }
}

.table {
    .tbody {
        margin-top: 1%;
    }
    // .aga-row.row {
    // margin-bottom: 1%;
    // }
}

.post-navigation {
    padding-bottom: 2%;
    .nav-next a{
        float: right;
    }
}




.collection-options {
    .aga-box {
        padding-bottom: 50px;
    }
    .subtitle {
        height: 55px;
    }
}

.aga-img {
    border: $global-border-size solid $global-border-color;
}

/*************************************************
* Taxonomy Styling
*************************************************/

.cat-links a {
    margin: 0 0 0 5px;
}


/* Home page and home Widget Area
----------------------------------------------------
*/

.home .aga-box > h2 {
    height: inherit;
}

ul.news-list {
    padding: 0;
}
.home-widget {
    &.aga-box {
        margin-bottom: 5%;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
