/* Main Nav xx
----------------------------------------------------
*/

.navbar-form {
    border: none;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 380px;
}


.navbar-collapse.collapse.in {
    .navbar-form {
        width: 100%;
        margin: 0 0 15px;
        padding: 0;
        float: none;
        clear: left;
    }
}
.navbar-form {
    margin-top: (($navbar-height - $line-height-computed) / 2.25);
    margin-bottom: (($navbar-height - $line-height-computed) / 2.25);
    padding-right: 0;
}

.navbar {
    .container-fluid {
        max-width: 1366px;
    }
    .description {
        margin-left: 10px;
        font-size: 12px;
    }
}

.aglogo.ft {
    width: 100%;
    margin: 0 auto 30px;
    color: white;

}
.aglogo {
    display: block;
    margin: (($navbar-height - $line-height-computed) / 2.25) (($navbar-height - $line-height-computed) / 2.25) 0;
    float: left;
}


.hgi-links {
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        list-style: none;
        a {
            display: inline-block;
            position: relative;
            padding: 10px 15px;
            font-weight: 700;
            &:hover, &:focus {
                background-color: #eee;
                text-decoration: none;
            }
        }
    }
}

.entry-meta {
    .fa {
        margin-right: 3px;
    }
    span {
        margin-right: 10px;
    }
}

.text-center.section-hdr {
    margin-bottom: 6rem;
}
.container-fluid.grey:empty {
    display: none;
}
