@media (min-width: 1025px) {
    .single {
        .collection-options {
            .col-lg-3.aga-box {
                &:nth-child(4n+1){
                    clear:both;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .site-branding {
        text-align: center;
    }
    .carousel {
        .carousel-caption {
            bottom: 20%;
        }
    }
    .aga-row {
        .aga-box {
            h2 {
                font-size: 20px;
                padding: 2% 0;
            }
        }
    }
    .content-area > h2, .content-area > h1 {
        margin: 0 0 6%;
        text-align: center;
    }
    .options.divider .type:last-child .row:last-child {
        border-left: inherit;
    }
}



@media (max-width: 768px) {
    .modal-dialog.modal-lg {
        max-width: 580px;
        width: 100%;
        margin: 0px auto;
    }

    form.navbar-form.navbar-right {
        display: none;
    }

    .jumbotron {
        h1, .h1 {
            font-size: 33px;
            text-shadow: 4px 3px 10px #000000;
        }
        p {
            font-size: 20px;
        }
    }

    .carousel {
        .carousel-caption {
            bottom: 10%;
            h1 {
                font-size: 41px;
            }
        }
    }

    .aga-row {
        .aga-box {
            margin-bottom: $global-margin-bottom;
            .col-md-5 {
                margin-bottom: $global-margin-bottom;
            }
            h2, {
                font-size: 20px;
                padding: 2% 0;
            }
            h3, {

                padding: 2% 0;
            }

        }
        .entry-content {
            margin-bottom: $global-margin-bottom;
        }
        .type {
            margin-bottom: $global-margin-bottom;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .post-area.col-md-8 {
        padding-bottom: $global-margin-bottom;
    }
    .footer-widget {
        margin-bottom: $global-margin-bottom;
        min-height: inherit;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 690px) {
    #wpadminbar {
        position: fixed;
    }
    .search .post-inner-content {
        margin-bottom: 5rem;
    }
    .opt-jumpmenu {
        margin: 6rem auto;
    }
    p.excerpt {
        font-size: 14px;
    }
    .col-md-6.easy-locator {
        padding: 0;
    }
}

@media (max-width: 600px) and (orientation: portrait)  {
    .aga-box .collection-wp {
        p.excerpt {
            line-height: 22px;
        }
    }
}

@media (max-width: 480px) {
    section.collection-overview {
        padding-bottom: 0;
    }
    body, .dropdown-menu>li>a   {
        font-size: 14px !important;
    }
    h1, .h1 {
        font-size: 31px;
    }
    h2, .h2 {
        font-size: 21px;
    }
    h3, .h3 {
        font-size: 18px;
    }
    p {
        font-size: 14px !important;
    }

    .navbar .description {
        font-size: 10px;
        margin-left: 10px;
    }
    .navbar {
        min-height: 65px;
    }
    .navbar-toggle, .aglogo {
        margin:15px;
    }
    .aglogo img {
        width: 175px;
    }
    .aga-box:last-child {
        margin-bottom: 0;
    }
    .aga-row {
        .aga-box {
            h2 {
                padding: 0 0 2%;
            }
        }
    }
    .aga-box {
        .collection-wp {
            height: inherit;
            > footer {
                position: relative;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        .subtitle {
            max-height:  inherit;
            min-height: inherit;
            overflow: auto;
        }
        h2,h3 { height: auto;}
    }
    .jumbotron h1, .jumbotron .h1 {
        font-size: 23px;
        text-shadow: 4px 3px 10px #000000;
    }
    .jumbotron p {
        font-size: 16px;
    }
    .jumbo-caption {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        z-index: inherit;
        padding: 0 4% 4%;
    }
    .jumbotron {
        padding: 0 0 2%;
    }

    .options {
        .col-xs-6 {
            width: 100% !important;
        }
    }
    .carousel  {
        .carousel-caption {
            position: relative;
            left: auto;
            right: auto;
            bottom: auto;
            min-height: 310px;
            h1 {
                font-size: 25px;
            }
        }
    }
    .collections {
        .aga-box {
            min-height: inherit;
            margin-bottom: 10%;
        }
        .col-xs-6 {
            width: 100%;
        }
    }
    .collection-options .subtitle {
        height: inherit;
    }

    .footer-widget {
        min-height: inherit;
        form.form-search {
            padding: 15px;
        }
    }
    #welcome {
        .col-xs-8, .col-xs-4  {
            width: 100%
        }
    }
    .opt-jumpmenu .btn.btn-primary {
        margin: 0 0 10px;
        width: 100%;
    }
    .options .slides.zoom a.pop { display: none;}
    .options .acf-label {
        font-size: 14px;
    }

    .aga-row .col-xs-6.aga-box, .col-xs-4.slides.zoom {
        width: 100%;
    }

    body #lightGallery-slider .info {
        padding: 10px 15px;
    }
    body #lightGallery-slider .info .title {
        font-size: 10px;
    }
    body #lightGallery-slider .info .desc {
        font-size: 10px;
    }
}
