/* scroll-to-top
----------------------------------------------------
*/
.scroll-to-top {
    display: none;

    position: fixed;
    right: 20px;
    bottom: 4%;
    width: 40px;
    transition: background-color 0.3s linear;
    border-radius: 4px;

    background: #363636;
    background: rgba(100, 100, 100, 0.4);

    color: #ffffff;
    font-size: 16px;

    line-height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}
.scroll-to-top:hover {
    background: #da4453;
    opacity: 0.8;
}
