//base

@import "base/_variables";
@import "base/_mixins";
//elements
@import "elements/_aga-box";
@import "elements/_aga-features";
@import "elements/_aga-options";
@import "elements/_breadcrumb";
@import "elements/_card";
@import "elements/_opt-jumpmenu";
@import "elements/_footer";
@import "elements/_hero";
@import "elements/_navigation";
@import "elements/_scroll-to-top";
@import "elements/_social-icons";

//Pages
@import "pages/_home-page";


.excerpt {
    font-weight: 600;
}

.navbar-default {
    //background-color: pink !important;
}

/* Global
----------------------------------------------------
*/

.page-header.collection-header {
    margin-bottom: 0;
}


.white {
    padding-bottom: 6rem;
    padding-top: 6rem;
}


.entry-content .slickr-flickr-gallery li {
    margin-bottom: 1%;
    margin-right: 1%;
}
.entry-content .slickr-flickr-gallery img.hover {
    background-color:  #d3d3d3;
}

.entry-content .slickr-flickr-gallery { padding:0;}

body #lightGallery-action a {
    font-size: 26px;
    height: 32px;
    left: auto;
    line-height: 26px;
    margin: 0 15px 0 0 !important;
    width: 32px;
}
body #lightGallery-action a#lightGallery-prev::before, body #lightGallery-action a#lightGallery-next::after {
    bottom: 3px;
    left: 2px;
    position: absolute;
    right: 2px;
}
body #lightGallery-action a.cLthumb::after {
    bottom: 3px;
    font-size: 26px;
    left: 3px;
}
.install h2 {
    border-bottom: 2px solid $global-border-color;
    padding-bottom: 17px;
}
.navbar-collapse, .navbar-header, .jumbo-caption, .aga-row, .footer-widget-area {
    margin: 0 auto;
    max-width: $global-max-width;
}

.modal-dialog.modal-lg {
    max-width: 680px;
    width: 100%;
}

/***************************************************
* Font Awesome Styling
***************************************************/

.fa {
    .fa-angle-double-right {
        margin-left: 3px;
    }
}

.pdf-icon {
    height: auto;
    width: 16px;
}

/***************************************************
* WP ADMIN Styling
**************************************************/

.entry-meta {
    .fa.fa-pencil-square-o {
        margin: 0 5px 0 0;
    }
}

.aga-features .wp-post-image {
    margin: 0 auto;
}

.clearfix {
    clear: both;
}


/***************************************************
* Content Area
****************************************************/

.XXX {
    top: 0;
    font-size: 10px;
}

.entry-content {
    a {
        color: #337ab7;
        font-weight: 700;
        &:hover {
            color: #23527c;
            text-decoration: underline;
        }
    }
    a.btn {
        color: #fff;
        :hover {
            text-decoration: none;
        }
    }
}

.post-edit-link {
    color: #337ab7;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
    &:hover {
        color: #23527c;
        text-decoration: underline;
    }
}

.overview .aga-box h3, .overview .aga-box h4 {
    height: inherit;
}





.collection-cta {
    padding-bottom: $global-margin-bottom;
    padding-top: $global-margin-top;
    > h1 {
        text-align: center;
    }
    h2 {
        margin-bottom: 36px;
        margin-top: 0;
    }
    .btn-block {
        margin: 0 auto;
        max-width: 320px;
    }
}

.white {
    padding-bottom: $global-margin-bottom;
    padding-top: $global-margin-top;
}

.news-list {
    padding-top: $global-margin-bottom;
}
.news-list {
    padding-bottom: $global-margin-bottom;
    padding-top: $global-margin-top;
}
.news-list-last {
    padding-top: 0;
    padding-bottom: $global-margin-bottom;
}

.grey {
    background-color:#f0f0f0;// #f5f4ef;
    padding-bottom: $global-margin-bottom;
    padding-top: $global-margin-bottom;
}

.content-area {
    > h2, h1 {
        margin: 0 0 2%;
        //text-align: center;
    }
}

.hardware .aga-box,
.collections .aga-box {
    margin-bottom: 4%;
}

.home .collections .aga-box:nth-child(3n+1){
    //clear:both;
    //background-color: pink;
}

.archive {
    .single-featured {
        left: 0;
        position: relative;
        top: 0;
        z-index: 1;
    }
}
.main-content-area {
    background-color: #ffffff; //$global-ag-color-1;
}

.page-template-dealer-tools-page {
    .aga-content {
        margin-bottom: 5rem;
    }
}
.page-header {
    border-bottom: $global-border-size solid $global-border-color;
    margin: 0 0 45px;
    padding: 0;
    h1 {
        margin-top: 0;
    }
}

.table {
    .tbody {
        margin-top: 1%;
    }
    // .aga-row.row {
    // margin-bottom: 1%;
    // }
}

.post-navigation {
    padding-bottom: 2%;
    .nav-next a{
        float: right;
    }
}




.collection-options {
    .aga-box {
        padding-bottom: 50px;
    }
    .subtitle {
        height: 55px;
    }
}

.aga-img {
    border: $global-border-size solid $global-border-color;
}

/*************************************************
* Taxonomy Styling
*************************************************/

.cat-links a {
    margin: 0 0 0 5px;
}


/* Home page and home Widget Area
----------------------------------------------------
*/

.home .aga-box > h2 {
    height: inherit;
}

ul.news-list {
    padding: 0;
}
.home-widget {
    &.aga-box {
        margin-bottom: 5%;
        &:last-child {
            margin-bottom: 0;
        }
    }
}






/* FSCF form styling
----------------------------------------------------
*/
.fscf-div-form {
    .fscf-required-indicator, .fscf-required-text {
        color: red;
        font-size: 12px;
    }
    .fscf-required-indicator {
        margin-left: 5px;
    }
    .fscf-div-submit {
        margin-bottom: 45px;
        margin-top: 45px;
    }
}

@media (min-width: 1025px) {
    .single {
        .collection-options {
            .col-lg-3.aga-box {
                &:nth-child(4n+1){
                    clear:both;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .site-branding {
        text-align: center;
    }
    .carousel {
        .carousel-caption {
            bottom: 20%;
        }
    }
    .aga-row {
        .aga-box {
            h2 {
                font-size: 20px;
                padding: 2% 0;
            }
        }
    }
    .content-area > h2, .content-area > h1 {
        margin: 0 0 6%;
        text-align: center;
    }
    .options.divider .type:last-child .row:last-child {
        border-left: inherit;
    }
}



@media (max-width: 768px) {
    .modal-dialog.modal-lg {
        max-width: 580px;
        width: 100%;
        margin: 0px auto;
    }

    form.navbar-form.navbar-right {
        display: none;
    }

    .jumbotron {
        h1, .h1 {
            font-size: 33px;
            text-shadow: 4px 3px 10px #000000;
        }
        p {
            font-size: 20px;
        }
    }

    .carousel {
        .carousel-caption {
            bottom: 10%;
            h1 {
                font-size: 41px;
            }
        }
    }

    .aga-row {
        .aga-box {
            margin-bottom: $global-margin-bottom;
            .col-md-5 {
                margin-bottom: $global-margin-bottom;
            }
            h2, {
                font-size: 20px;
                padding: 2% 0;
            }
            h3, {

                padding: 2% 0;
            }

        }
        .entry-content {
            margin-bottom: $global-margin-bottom;
        }
        .type {
            margin-bottom: $global-margin-bottom;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .post-area.col-md-8 {
        padding-bottom: $global-margin-bottom;
    }
    .footer-widget {
        margin-bottom: $global-margin-bottom;
        min-height: inherit;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 690px) {
    #wpadminbar {
        position: fixed;
    }
    .search .post-inner-content {
        margin-bottom: 5rem;
    }
    .opt-jumpmenu {
        margin: 6rem auto;
    }
    p.excerpt {
        font-size: 14px;
    }
    .col-md-6.easy-locator {
        padding: 0;
    }
}

@media (max-width: 600px) and (orientation: portrait)  {
    .aga-box .collection-wp {
        p.excerpt {
            line-height: 22px;
        }
    }
}



@media (max-width: 480px) {
    section.collection-overview {
        padding-bottom: 0;
    }
    body, .dropdown-menu>li>a   {
        font-size: 14px !important;
    }
    h1, .h1 {
        font-size: 31px;
    }
    h2, .h2 {
        font-size: 21px;
    }
    h3, .h3 {
        font-size: 18px;
    }
    p {
        font-size: 14px !important;
    }

    .navbar .description {
        font-size: 10px;
        margin-left: 10px;
    }
    .navbar {
        min-height: 65px;
    }
    .navbar-toggle, .aglogo {
        margin:15px;
    }
    .aglogo img {
        width: 175px;
    }
    .aga-box:last-child {
        margin-bottom: 0;
    }
    .aga-row {
        .aga-box {
            h2 {
                padding: 0 0 2%;
            }
        }
    }
    .aga-box {
        .collection-wp {
            height: inherit;
            > footer {
                position: relative;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        .subtitle {
            max-height:  inherit;
            min-height: inherit;
            overflow: auto;
        }
        h2,h3 { height: auto;}
    }
    .jumbotron h1, .jumbotron .h1 {
        font-size: 23px;
        text-shadow: 4px 3px 10px #000000;
    }
    .jumbotron p {
        font-size: 16px;
    }
    .jumbo-caption {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        z-index: inherit;
        padding: 0 4% 4%;
    }
    .jumbotron {
        padding: 0 0 2%;
    }

    .options {
        .col-xs-6 {
            width: 100% !important;
        }
    }
    .carousel  {
        .carousel-caption {
            position: relative;
            left: auto;
            right: auto;
            bottom: auto;
            min-height: 310px;
            h1 {
                font-size: 25px;
            }
        }
    }
    .collections {
        .aga-box {
            min-height: inherit;
            margin-bottom: 10%;
        }
        .col-xs-6 {
            width: 100%;
        }
    }
    .collection-options .subtitle {
        height: inherit;
    }

    .footer-widget {
        min-height: inherit;
        form.form-search {
            padding: 15px;
        }
    }
    #welcome {
        .col-xs-8, .col-xs-4  {
            width: 100%
        }
    }
    .opt-jumpmenu .btn.btn-primary {
        margin: 0 0 10px;
        width: 100%;
    }
    .options .slides.zoom a.pop { display: none;}
    .options .acf-label {
        font-size: 14px;
    }

    .aga-row .col-xs-6.aga-box, .col-xs-4.slides.zoom {
        width: 100%;
    }

    body #lightGallery-slider .info {
        padding: 10px 15px;
    }
    body #lightGallery-slider .info .title {
        font-size: 10px;
    }
    body #lightGallery-slider .info .desc {
        font-size: 10px;
    }
}
