//@import url('../bootstrap/less/variables.less');
@import url('http://fonts.googleapis.com/css?family=PT+Sans:700,400,700italic');
@import url('http://fonts.googleapis.com/css?family=Lato:400,700,900,300,100');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700|Roboto+Slab:400,300,700');


$navbar-height: 85px;
$line-height-computed: 20px;
$global-font-weight-bold: 700;
$global-ag-color-1: #BDB7A5;
$global-ag-color-2: #a09168;
$global-ag-color-3: #3E3C36;


$global-ag-headline-color: #232323 ; //#504834

$global-black: #000000;
$global-white: #ffffff;

$global-border-color: #d3d3d3; //#d9d3c2;
$global-border-size: 2px;

$global-hover-link: #404040;

$global-text-shadow: 4px 3px 10px #000000;
$global-margin-bottom: 6rem;
$global-margin-top: 6rem;
$global-max-width: 1366px;
